.App {
  text-align: center;
  background-color: #27303f;
  height: 100vh;
}

.navbar {
  height: 6vh;
  background-color: #191f29;
}

.header {
  position: absolute;
  background-color: #191f29;
  align-items: center;
  margin: auto;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1vh 1vw;
  gap: 1vw
}

.left {
  left: 0
}

.right {
  right: 0
}

.header-children {
  background-color: #191f29;
  border: none;
  height: 3vh;
}

.body {
  align-items: center;
}

input {
  background-color: #27303f;
  border: none;
}

button, .button {
  background-color: #191f29;
  color: white;
  border: none
}

@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue'),
    url('./fonts/HelveticaNeueMed.ttf')
}

* {
  margin: 0;
  color: white;
  font-family: 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
